{% extends "base.html" %}

{% block title %}{{ section.title }} — {{ config.title }}{% endblock title %}

{% block content %}
<section class="chapter-list">
  <h2>{{ section.title }}</h2>
  <div class="chapter-grid">
    {% if "/chapters/" in section.path %}
      {% set pages = section.pages | sort(attribute="extra.chapter") %}
    {% else %}
      {% set pages = section.pages %}
    {% endif %}
    {% for page in pages %}
      <a href="{{ page.path | safe }}" class="grid-item">{{ page.title }}</a>
    {% endfor %}
  </div>
</section>
{% endblock content %}
